ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    margin-top: 10px;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .chip{
    display: inline-block;
    padding: 10px 25px;
    margin:10px;
    height: 120px;
    width: 300px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 25px;
    background-color: #f1f1f1;
}
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  li{
    list-style-type: none;
  }